version: "3.8"

services:
  geckodriver:
    image: instrumentisto/geckodriver:82.0
    ports:
      - "4444:4444"
    networks:
      - astg

  all-sides-telegram:
    build: .
    volumes:
      - type: volume
        source: astg
        target: /var/lib/astg
    networks:
      - astg
    links:
      - geckodriver
    environment:
      ASTG_UPDATE_INTERVAL: 10
      ASTG_STORY_DB: /var/lib/astg/stories.sled
      ASTG_WEBDRIVER_HOST: geckodriver
      ASTG_WEBDRIVER_PORT: 4444
      ASTG_TELEGRAM_SECRET: "SECRET"
      ASTG_TELEGRAM_ADMIN: "@ADMIN"
      ASTG_TELEGRAM_CHANNEL: "@allsidesnews"

volumes:
  astg:

networks:
  astg: